body{
    margin: 0px 0px;
    padding: 0 0px;
    background: #000000d1;
    color: #ffffff;
 
    font-family: 'Hind Madurai', sans-serif;
}
main{
    background: url(../assets/hockey-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -225px;
}

.nav {
    height: 46px;
    background: #000000d1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    position: sticky;
    top: 0px;
  }
  
.anchor-boton {
    color: white;
    font-size: 1.5rem;
  
    width: 130px;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: none;
}
  
.anchor-boton:hover {
    transform: scale(1.2);
}
  
.active {
    border: 2px solid white;
    border-radius: 50px;
}

.div-all{    
    display: flex;
    flex-direction: column;
    align-items: center;
        
}
/*
.section-container{
    padding:50px;
    border: 1px solid white;
    width: 840px;
    display: flex;
    margin: 50px 0;
    flex-direction: column;
    background-color: rgb(0 0 0 / 69%);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 50px;
    

}*/

form{
    padding:50px;
    border: 1px solid white;
    width: 840px;
    display: flex;
    margin: 90px 0 0 0;
    flex-direction: column;
    background-color: rgb(0 0 0 / 69%);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 50px;
    
}

.title{
    text-align: center;
    margin-bottom: 50px;
  
}

.fieldset-{
    border:none;    
    margin-right: 40px;
        
}
.input-{
    width: 230px;
    margin-right: 20px;
} 

.gender{
    margin: 0 20px;
}

.border{
    background: none;
    border: 0;
    border-bottom: 1px solid white;
    color: white
}

input::placeholder {
    color: #b92828;
    font-size: 1.2em;
    font-style: italic;
}

.sec-form{
    padding: 0 50px;

}

.btn{
    margin: 20px;
    background-color: rgb(255 255 255 / 69%);
    border: 1px solid rgb(255 255 255);
    border-radius: 10px;
    color: #505050fc;
    width: 150px;
    height: 30px;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
}

.btn:hover{
    background-color: rgba(145, 138, 138, 0.69);
    border: none;
    color: rgb(211, 208, 208);
}


.btn-div{   
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer{
    background-color: #46464694;
    height: 69px;
    text-align: center; 
    color: #a19f9f;
    display: flex; 
    justify-content: center;
    align-items: center;
  }