body {
  margin: 0px 0px;
  padding: 0 0px;
  background: #000000d1;
}

.div-title {
  background: black;
  display: flex;
  justify-content: space-around;
  height: 204px;
  align-items: center;
  position: relative;
  top: 160px;
}

.title {
  font-size: 5rem;
  color: #ffffff;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

h2, p, h4{
  font-family: 'Hind Madurai', sans-serif;
}

header {
  height: 600px;
  background-image: url("../assets/design1_image1.jpg");
  background-position-y: -200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #000000;
}

.nav {
  height: 46px;
  background: #000000d1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.anchor-boton {
  color: white;
  font-size: 1.5rem;

  width: 130px;
  text-align: center;
  text-transform: uppercase;
  font-family: sans-serif;
  text-decoration: none;
}

.anchor-boton:hover {
  transform: scale(1.2);
}

.active {
  border: 2px solid white;
  border-radius: 50px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

.main-container {
  border: 2px solid black;
  border-radius: 50px;
  padding: 40px;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 100px;
  background-color: rgb(255 255 255 / 81%);
  
}
.img-h2-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subtitle {  
  text-transform: uppercase;
  font-size: 2rem;
  letter-spacing: 3px;
  color: #d5d1d1; 
}

.div-container {
  display: inline-block;
}

.h4-info, .text-info {
  font-size: 1.3rem;
}


.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d5d1d1;
}

.div-container-about {
  padding: 0 50px;
}

.section-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d5d1d1;
}

.div-container-contact {
  border: 2px solid black;
  border-radius: 50px;
  padding: 40px;
  width: fit-content;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 100px;
  background-color: rgba(255, 255, 255, 0.3);  
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.div-rules{
  color: #d5d1d1;
}

.main-rules {
  display: block;
  margin: 50px 50px;
}

.li-item {
  font-weight: 900;
}

p {
  font-weight: normal;
}

.ol-li-item {
  list-style-type: lower-latin;
  font-weight: normal;
}

.ur-list {
  list-style-type: circle;
}

.section-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-info-under {
  margin: 0 0 20px 0;
  color: #d5d1d1; 
}

.div-table {
  display: flex;
  justify-content: center;
}

td {
  height: 60px;
  width: 300px;
  text-align: center;
}

.tr-titles {
  background: darkgoldenrod;
  height: 68px;
  font-size: 1.5rem;
}

.celda1,
.celda3,
.celda5 {
  background-color: aliceblue;
}
.celda2,
.celda4 {
  background-color: #f3c197;
}

.text-info-1 {
  display: inline-block;
}

.info-contact {
  display: flex;
  justify-content: space-evenly;
}

.div-info{
  color: #d5d1d1;
}

.info-game{
  color: #d5d1d1;
}

h2 a{
  color: #d5d1d1;
}

footer{
  background-color: #46464694;
  height: 69px;
  text-align: center; 
  color: #a19f9f;
  display: flex; 
  justify-content: center;
  align-items: center;
}
 